[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=/home/samman/Documents/MyPython/MyProjects/SciLibra/icon.png
Name=SciLibra
Exec=python3 /home/samman/Documents/MyPython/MyProjects/SciLibra/SciLibra.py
Terminal=false
Type=Application
